@import 'scss/mixins.scss';
.content {
  background-color: #1f1f1f;
  width: 100%;
  height: calc(100vh - 64px);
  position: relative;
  overflow-y: auto;
  padding-top: 4rem;
  margin-left: 284px;
  transition: margin linear 0.1s;

  @include respond(tab-port) {
    margin-left: 0;
  }
  .hide-sidebar & {
    margin-left: 0;
  }
}
