.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link {
  box-shadow: 0 0 0 0px var(--fc-page-bg-color) !important;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid #0000003d;
}
:root {
  --fc-today-bg-color: rgba(255, 255, 255, 0);
}
.fc-theme-standard .fc-scrollgrid {
  border: 1px solid #92929271;
}
.fc-v-event .fc-event-main {
  color: var(--fc-event-text-color);
  height: 100%;
  margin-left: 5px;
}
.fc .fc-timegrid-slot {
  border-bottom: 0;
  height: 0.1px !important;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 2em;
  max-height: 100px;
  position: relative;
}