.light .sidebar {
  background-color: #fafbfc;
  .custom-project,
  .project-group {
    &:hover,
    &.active {
      background-color: #eee;
    }
  }
}

.light .custom-project-group__add-project {
  svg {
    stroke: #333;
  }
  &:hover {
    background-color: #eee;
  }
}

.light .set-Taskbar {
  border-color: #ccc;
  color: black;
  background-color: white;
}
.light .set-Taskbar:active {
  background-color: rgb(205, 205, 205);
  box-shadow: 0 2px 5px #555555;
  transform: translateY(1px);
}
