.light .sidebar {
  background-color: #fafbfc;
  .custom-project,
  .project-group {
    &:hover,
    &.active {
      background-color: #eee;
    }
  }
}

.light .custom-project-group__add-project {
  svg {
    stroke: #333;
  }
  &:hover {
    background-color: #eee;
  }
}
