.add-task {
  margin: 0.4rem 0;

  // & .quick-add__wrapper {
  //   background-color: ;
  // }
  background-color: inherit;
  &__container {
    //width: 100%;
    border: 1px solid #383838;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    cursor: text;
  }
  &__input {
    width: -webkit-fill-available;
    margin-bottom: 1rem;
    font-size: 12px;
    height: 1.6rem;
    border: none;
    font-weight: 400;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;

    &:focus {
      outline: unset;
    }
  }

  &__attributes {
    display: flex;
    justify-content: space-between;
    &--left,
    &--right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__actions {
    background-color: inherit;
    button {
      &:not(:last-child) {
        margin-right: 0.4rem;
      }
    }

    &--add-task {
      background-color: #4a4cde;
      color: #feffff;
    }
    &--cancel {
      background-color: #f5f5f5;
      border: 1px solid #555;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #808080;
    margin-top: 0.6rem;
    &:hover {
      color: #4a4cde;
      .add-task__icon {
        background-color: #4a4cde;

        svg {
          stroke: #feffff;
        }
      }
    }
  }
  &__icon {
    border-radius: 50%;
    margin-right: 0.4rem;
    display: flex;
    place-items: center;
    svg {
      stroke: #4a4cde;
    }
  }
}

.set-new-task__project,
.set-new-task__schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  border: 1px #555 solid;
  border-radius: 5px;
  font-size: 12px;
  position: relative;
  &:not(:last-child) {
    margin-right: 0.4rem;
  }
  svg {
    margin-right: 0.2rem;
  }
}

.set-new-task__label {
  margin: 0 0.4rem;
}

.quick-add__container {
  margin-bottom: unset !important;
  border-bottom: unset;
}

.arrow-md {
  border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin: 1px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.display-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.display-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-left-margin {
  margin-left: 10px;
}

.time-field {
  &__hour {
    width: 24px;
  }

  &__minute {
    width: 36px;
  }
}

.work-day-btn {
  &__selected {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #3f4cda;
  }
  &__not-selected {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #999;
  }
}

.select-preference {
  border: 0;
  background-color: transparent;
  &:focus {
    outline: unset;
  }
  &:hover {
    cursor: pointer;
  }
}

.time-period {
  &__label {
    width: 120px;
  }
  &__row {
    margin-bottom: 10px;
  }
}

.text-color {
  &__shallow {
    color: #058527;
  }

  &__urgent {
    color: #ad6200;
  }

  &__deep {
    color: #246fe0;
  }

  &__error {
    color: #dd4b39;
  }
}
