@import 'scss/mixins.scss';
.header {
  position: fixed;
  width: -webkit-fill-available;
  z-index: 310;
  top: 0;
  padding: 0 42px;
  box-shadow: 0 1px 3px 0 #00000026;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.489);

  &__left {
    display: flex;
    align-items: center;
    height: 56px;
  }
  &__right {
    display: flex;
    align-items: center;
    & * {
      display: block;
      svg {
        stroke: #fff;
      }
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 6px;
      }
    }
  }

  @include respond(tab-port) {
    padding: 0 12px;
  }
}

.avatar__img {
  border-radius: 50%;
  border: 1px solid grey;
  width: 28px;
  height: 28px;
}

.quick-add-task_dark {
  width: 28px;
  height: 28px;
  position: absolute;
}

.schedule__btn {
  color: white;
  border-color: white;
  border-width: 1px;
  background-color: #555;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.google-auth-button {
  background-color: #424242;
  display: flex;
  align-items: center;
  padding-right: 5px;
  border-radius: 5px;
}

.nav-button-wrapper {
  height: '100%';
  border: '10px solid red';
}
