.my-datepicker {
  width: 67px;
  height: 25px;
  margin-right: 0;
  padding-right: 0;
  background-color: transparent;
  border: 1px solid grey;
  color: inherit;
}
.react-datepicker-wrapper {
  width: 70px;
}
