@import 'scss/mixins.scss';
.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 340;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  // align-items: center;
  background-color: rgba(0, 0, 0, 0.64);
}

.quick-add-task__wrapper {
  width: 770px;
  background-color: #202020;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 #00000014, 0 15px 50px 0 #00000099;
  & > .add-task__wrapper > form {
    margin-top: 0;
    margin-bottom: 0;
  }
  @include respond(tab-port) {
    position: inherit;
    width: 95%;
  }
}

.event__wrapper {
  width: 460px;
  background-color: #202020;
  border-radius: 10px;
  // box-shadow: 0 1px 4px 0 #00000014, 0 15px 50px 0 #00000099;
  & > .add-task__wrapper > form {
    margin-top: 0;
    margin-bottom: 0;
  }
  @include respond(phone) {
    position: inherit;
    width: 95%;
  }
}

.quick-add__actions {
  margin-top: 0;
  padding: 0.8rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #363636;
}
.quick-add__container {
  margin-bottom: 0;
  border-bottom: 0;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.action-btn {
  max-height: 25px;
  max-width: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.google-meet-schedule-button {
  background-color: #424242;
  display: flex;
  align-items: center;
  padding-right: 5px;
  border-radius: 5px;
}

.recurring-options-button {
  background-color: #424242;
  padding: 5px;
  border-radius: 5px;
}

.google-meet-join-button {
  background-color: #039be5;
  display: flex;
  align-items: center;
  padding-right: 5px;
  border-radius: 5px;
}

.attendee-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #424242;
  margin-bottom: 5px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.recurring-weekday-button {
  background-color: #424242;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.recurring-weekday-button__selected {
  background-color: #4c9aff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
